.settings-image{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  padding: .1rem;
}
.title{
  font-size: 1.4rem;
  color: gray;
}

.image-title{
  font-size: 1.7rem;
  font-weight: bold;
  color: gray;
  padding: 1.5rem;
  text-align: center;
  
}

.background{
  background-color: #eff5f7;
  padding-top: .5rem;
}

.fragment{
  display: flex;
  justify-content: center;
}

.profile-icon{
  border-radius: 2%;
  background-color: whitesmoke;
  border:  0.05rem solid lightgrey;
  padding: 1rem;

}

.fragment{
  display: flex;
  justify-content: space-between;
}

.profile-section{
  padding: 5rem;
  background-color:whitesmoke;
  border-radius: 1%;
  padding-top: 2rem;
  border:  0.05rem solid lightgrey; 
  width: 50%;
  padding-bottom: 2rem;
}

.image-username{
  display: flex;
  justify-content: space-around;
}

.displayflex{
   display: flex;
  justify-content: space-around;
}

.username{
  padding: 1em;
}

.follow-form{
   display: flex;
  justify-content: space-around;
  align-items: center;
}

.all-info{
  display: flex;
  justify-content: space-around;
}

.icon-and-dropzone{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.follow-button, .update-button, .delete-button {
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5%;
  size: 40rem;
  width: 5rem;
  height: 2.5rem;
  margin-top: .3rem;
  margin-left: .7rem;

}

.dropzone-only{
   background-color:white;
   margin: 2rem;
   padding: 2rem;
   height: 7rem;
  border-radius: 2%;

}