.body{
  background-color: blue;
}

img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

i{
  size: 40px;
  width: 24px;
    height: 24px;
}

.fragment{
  display: flex;
  justify-content: center;
}

.profile-icon{
  border-style: ridge;
}

.fragment{
  display: flex;
  justify-content: space-between;
}

.profile-section{
  border-style: ridge;
  padding: 20px;
  background-color: antiquewhite;
}

.image-username{
  display: flex;
  justify-content: space-around;
}

.displayflex{
   display: flex;
  justify-content: space-around;
}

.username{
  padding: 1em;
}