.body{
  background-color: blue;
}

img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

i{
  size: 40px;
  width: 24px;
    height: 24px;
}

.fragment{
  display: flex;
  justify-content: center;
}