.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding:5em;
  background-color: whitesmoke;
}

.post-image-container {
  margin-right:5em ;
  border: 2px #dbf9ff solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4%;
}

.post-image {
  max-width: 40em;
  height: auto;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40em;
  color: rgb(100, 100, 100);
  border: 2px #dbf9ff solid;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4%;
  padding: 3em;
}

.small-icon {
  height:2em;
  width:2em;
  margin:.5em;
}

.post-title {
  font-size: 5em;
  font: Verdana;
  font-weight: lighter;
}

.post-description {
  font-size: 2.4em;
  font: Verdana;
  font-weight: lighter;
}


.like-container {
  display: flex;
  flex-flow:row nowrap;
  
}

.like-button {
  display:flex;
  flex-flow: row nowrap;
  align-items: center;
  font-family: cursive;
}

.comment-container {
display:flex;
flex-flow:column nowrap;
margin-right: 2em;
}