.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.card-grid {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width:80em;
}

.card {
  height: 35em;
  width: 18em;
  flex-basis: 3em;
  margin: 1em;
}

.card-image {
  height: 34em;
  width: 17em;
  object-fit: cover;
}

.card-text {
    color: rgb(240, 107, 107);
    font-size: 1em;
    text-align: right;
    position: relative;
    top: -8em;
    right: 1.5em;
    width: 100%;
   
}



.board-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(100, 100, 100);

}

.board-title {
  font-size: 6em;
  font: Verdana;
  font-weight: lighter;
}

.board-description {
  font-size: 1.2em;
  font: Verdana;
  font-weight: lighter;
  flex-direction: column;
  align-items: center;
  line-height: 0em;
}

.small-icon {
  height:2em;
  width:2em;
  margin:.5em;
}

.add-container {
  display: flex;
  justify-content:center;
}
