.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  padding:75px;
}

.post-image-container {
  padding-right: 75px;
}

.post-image {
  max-width: 800px;
  height: auto;
}

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  color: grey;
}

.post-title {
  font-size: 64px;
  font: Verdana;
  font-weight: lighter;
}

.post-description {
  font-size: 18px;
  font: Verdana;
  font-weight: lighter;
}

.like-container {
  display: flex;
  flex-flow:row nowrap;
}